html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Helvetica;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1px solid black;
    background: cyan;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: whitesmoke;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    background-color: whitesmoke;
    border-radius: 3px;
    border: 1px solid gray;
    background-color: transparent;
    font-size: 3rem;
    color: black;
    background-image: pink;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: violet;
}

.all-clear {
    background-color: red;
    border-color: pink;
    color: pink;
}

.all-clear:hover {
    background-color: #ff1820;
}

.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
}